<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Makassar</title>
    <meta name="description" content="Kumpulan hal positif yang ada di Makasasar. Cari cafe atau coworking tempat untuk kamu bekerja,
    komunitas untuk mengisi waktu luang atau mengembangkan bakat, sampai usaha-usaha startup asli dari Makassar."/>
    <link rel="stylesheet" href="/assets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

    <header>
        <h1>Little Makassar</h1>
        <h2>Banyak hal positif di Makassar, mari saling mengenal</h2>
    </header>

    <div id="app">
            <div id="tags">
                <li v-for="tag in tags" v-on:click="filter(tag)" v-bind:class="{ tagSelected: activeTag == tag}">
                     {{tag}}
                </li>
            </div>

            <div id="products">
                <li v-for="item in filteredItems.slice().reverse()">
                    <img v-bind:src="item.thumbnail" alt="{{img.title}}" width="100" height="100">
                    <div class="">
                        <p><b> {{ item.title }} </b></p>
                        <p>{{ item. desc }}</p>
                        <p>
                            <a v-bind:href="'https://www.instagram.com/' + item.instagram" v-if="item.instagram" target="_blank">IG 📷 </a> /
                            <a v-bind:href="item.website" v-if="item.website" target="_blank">Web 🌎</a>
                        </p>
                    </div>
                </li>
            </div>
    </div>

    <footer>
        <b>Tentang</b> <br>
        Kumpulan hal positif yang ada di Makasasar. Cari cafe atau coworking tempat untuk kamu bekerja,
        komunitas untuk mengisi waktu luang atau mengembangkan bakat, sampai usaha-usaha startup asli dari Makassar.
        Kamu bisa memberi kritik atau saran data apa lagi yang perlu dimasukkan di kolom komentar di bawah.
        Little Makassar bukan media, bukan startup, hanya berbagi informasi.
        dibuat oleh <a href='https://www.instagram.com/hilmanspace/' target="_blank">@hilmanspace</a>.
        Kalau menurut kamu ini menarik, silahkan share linknya bit.ly/littlemks
    </footer>
    <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://little-makassar.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <script src="/assets/main.min.js"></script>

</body>
</html>